In [1]:
import pandas as pd
df = pd.read_csv('2020_Yellow_Taxi_Trip_Data.csv',nrows=100)

In [2]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df

/tmp/ipykernel_6673/4255988704.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/4255988704.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2020-01-01 00:28:15,2020-01-01 00:33:03,1,1.20,1,N,238,239,1,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1,2020-01-01 00:35:39,2020-01-01 00:43:04,1,1.20,1,N,239,238,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1,2020-01-01 00:47:41,2020-01-01 00:53:52,1,0.60,1,N,238,238,1,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1,2020-01-01 00:55:23,2020-01-01 01:00:14,1,0.80,1,N,238,151,1,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2,2020-01-01 00:01:58,2020-01-01 00:04:16,1,0.00,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2020-01-01 00:37:27,2020-01-01 00:50:39,2,2.33,1,N,143,236,1,11.0,0.5,0.5,2.00,0.0,0.3,16.80,2.5
96,2,2020-01-01 00:53:56,2020-01-01 01:13:51,1,3.75,1,N,236,107,1,15.5,0.5,0.5,2.00,0.0,0.3,21.30,2.5
97,1,2020-01-01 00:14:05,2020-01-01 00:40:50,2,2.10,1,N,48,107,1,16.5,3.0,0.5,4.05,0.0,0.3,24.35,2.5
98,2,2020-01-01 00:14:44,2020-01-01 00:23:35,1,1.78,1,N,161,141,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5
99,2,2020-01-01 00:25:31,2020-01-01 00:38:12,1,3.16,1,N,141,224,2,11.5,0.5,0.5,0.00,0.0,0.3,15.30,2.5

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [6]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [7]:
df_iter = pd.read_csv('2020_Yellow_Taxi_Trip_Data.csv', iterator=True, chunksize=100000)
df = next(df_iter)
len(df)

100000

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

/tmp/ipykernel_6673/1874911345.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/1874911345.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [10]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 9.94 s, sys: 104 ms, total: 10 s
Wall time: 17.8 s

1000

In [12]:
from time import time
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()

    print('inserted chunk, took %.3f second' %(t_end - t_start))

inserted chunk, took 19.422 second

/tmp/ipykernel_6673/579367785.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/579367785.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted chunk, took 46.616 second

/tmp/ipykernel_6673/579367785.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/579367785.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted chunk, took 45.419 second

/tmp/ipykernel_6673/579367785.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/579367785.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted chunk, took 46.474 second

/tmp/ipykernel_6673/579367785.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/579367785.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted chunk, took 46.499 second

/tmp/ipykernel_6673/579367785.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/579367785.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted chunk, took 46.592 second

/tmp/ipykernel_6673/579367785.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/579367785.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted chunk, took 48.056 second
inserted chunk, took 19.632 second

/tmp/ipykernel_6673/579367785.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/579367785.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted chunk, took 47.967 second

/tmp/ipykernel_6673/579367785.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted chunk, took 32.484 second

/tmp/ipykernel_6673/579367785.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/579367785.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted chunk, took 47.468 second
inserted chunk, took 18.675 second

/tmp/ipykernel_6673/579367785.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_6673/579367785.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

KeyboardInterrupt: